*~
*.app
*.cache
*.dylib
*.lo
*.lo?
*.la
*.moc.cpp
*.o
*.so
*.trs
*.pc
*.vlt
*.class
*.dmg
*.qmlc
.DS_Store
.deps
.libs
.dirstamp
ABOUT-NLS
aclocal.m4
ChangeLog
compile
config.status
config.h*
config.log
configure
doltcompile
doltlibtool
INSTALL.git
libtool
Makefile
Makefile.in
stamp-*
vlc
vlc.exe
qvlc
rvlc
svlc
cvlc
qvlc
mvlc
nvlc
wxvlc
vlc_install_dir/*
plugins.dat
patches/*

include/vlc/libvlc_version.h

# Ignore build dirs
build*
contrib-*
install-*

#custom
contrib/
vlc_gitlab.creator.user
.qmake.stash
vlc_gitlab.cflags
vlc_gitlab.config
vlc_gitlab.creator
vlc_gitlab.cxxflags
vlc_gitlab.files
vlc_gitlab.includes
modules/vlc-qt-check
modules/codec/webvtt/CSSLexer.c
modules/codec/webvtt/CSSGrammar.c
modules/codec/webvtt/CSSGrammar.h
modules/stream_out/chromecast/cast_channel.pb.h
modules/stream_out/chromecast/cast_channel.pb.cc
.vscode/
